
 
.example {
   /* overflow-x: auto;*/
table, td {
  border: 1px solid black;
}
table{
    height: 100%;
    width: 100%;
    th{
        text-align: center;
        background-color: burlywood;
        vertical-align: bottom;
        padding: 15px;

    }
    td{
        text-align: center;
        padding: 15px;
        :hover{background-color: forestgreen;}
    }
    tr{
        :hover{background-color: cornflowerblue;}
    }
    
    

}
    
  }
