

.example {
   /* overflow-x: auto;*/
   overflow:scroll;;
table, td {
  border: 1px solid black;
}
table{
    
    th{
        text-align: center;
        background-color: burlywood;
        vertical-align: bottom;
        padding: 15px;

    }
    td{
        text-align: center;
        padding: 15px;
    }
    tr{
        :hover{
            background-color: rgb(70, 10, 47); 
            opacity:0.5;;
            color: fade-in($color: #eceef5, $amount: 0);
        }
    }
    
    

}
    
  }
